* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: all .1s ease-in;
}
html {height:100%;}
html,body {min-height:100%}
body {
	font: 22px/1.5 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #3399cc;
	padding: 24px;
	border-right:24px solid #2b81ac;
	border-left:24px solid #2b81ac;
	color:#ffffff;
}
body:before, body:after {
    content: "";
    position: fixed;
    background: #2b81ac;
    left: 0;
    right: 0;
    height: 24px;
    z-index: 100;
}
body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
.xz-wrapper {
	width:70%;
	margin: 0 auto;
}
.xz-header h1{
	font-size: 28px;
	padding: 27px 0;
}
.xz-header .wi{
	vertical-align: middle;
}
.xz-towns {
	padding: 3px;
	background-color: #fff;
	list-style: none;
	font-size: 0;
	margin-bottom: 27px;
}
.xz-towns li {
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	text-align: center;
	width:25%;
	border:3px solid #ffffff;
	padding: 27px 10px;
	word-wrap: break-word;
}
.xz-towns .xz-town1,.xz-towns .xz-town9 {
	width:50%;
}
.xz-towns .xz-town11 {
	width:100%;
}
.xz-towns:hover > li {opacity: .6;}
.xz-towns > li:hover {opacity: 1;}
.xz-towns li h2{
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 13px;
}
.xz-towns li span,
.xz-towns li .wi{
	opacity:0.7;
}
.xz-towns li .wi {
	font-size: 40px;
	vertical-align: middle;
}
.xz-towns span:after {content:'\00B0 C';}
.xz-town1 {background-color: #3399cc;}
.xz-town2 {background-color: #33cccc;}
.xz-town3 {background-color: #996699;}
.xz-town4 {background-color: #c24747;}
.xz-town5 {background-color: #e2674a;}
.xz-town6 {background-color: #ffcc66;}
.xz-town7 {background-color: #99cc99;}
.xz-town8 {background-color: #699996;}
.xz-town9 {background-color: #cc6699;}
.xz-town10 {background-color: #339966;}
.xz-town11 {background-color: #666699;}

.footer {
	font-size: 20px;
	margin-bottom: 27px;
}
